.cardContainer {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
}
.sideBar {
  grid-row: 1/-1;
  grid-column: 1/2;
  padding-left: 15px;
  background-color: rgb(196, 200, 226);
}
.sideBar_1 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_2 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_3 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_4 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_5 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_1:hover {
  cursor: pointer;
}
.sideBar_2:hover {
  cursor: pointer;
}
.sideBar_3:hover {
  cursor: pointer;
}
.sideBar_4:hover {
  cursor: pointer;
}
.sideBar_5:hover {
  cursor: pointer;
}
.sideBar_6:hover {
  cursor: pointer;
}
.sideBar_7:hover {
  cursor: pointer;
}
.sideBar_8:hover {
  cursor: pointer;
}
.sideBar_9:hover {
  cursor: pointer;
}
.sideBar_10:hover {
  cursor: pointer;
}
.sideBar_11:hover {
  cursor: pointer;
}
.sideBar_6 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_7 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_8 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_9 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_10 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideBar_11 option {
  background-color: rgb(196, 200, 226);
  border: none;
}
.sideContent {
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 10px;
  background-color: rgb(168, 247, 221);
}

.sideContent fieldset {
  background-color: black;
  color: white;
}
.sideBar ul li {
  list-style: none;
  font-weight: bold;
  padding-top: 20px;
}
.mainContent {
  grid-row: 1/-1;
  grid-column: 2/3;
  background-color: rgb(182, 192, 252);
}
.sideContent {
  grid-row: 1/-1;
  grid-column: 3/4;
  /*Grid layout for image gallery*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sideBar-1 {
  display: none;
}
