* {
  padding: 0px;
  margin: 0px;
}

.headerDiv {
  width: 100%;
  height: 10vh;
  border-bottom: 2px solid gray;
}
.firestList {
  padding-left: 15%;
}

.firestList li {
  list-style: none;
  float: left;
  padding-left: 5%;
}
.section {
  padding-top: 1%;
}

.secondList {
  margin-right: 12%;
}
.secondList li {
  list-style: none;
  float: right;
  padding-left: 20px;
}
.searchIcon {
  width: 20px;
}
.secondList li :hover {
  background-color: rgb(214, 212, 234);
  cursor: pointer;
}

.firestList li select {
  border: none;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: gray;
}
.firestList li select:hover {
  background-color: rgb(214, 212, 234);
  cursor: pointer;
}

.signInButton {
  color: blue;
  font-size: small;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoImage {
  width: 250px;
  padding-top: 3%;
}

.logoImage:hover {
  cursor: pointer;
}

.logoImage {
  color: black;
  font-weight: 10;
  font-size: medium;
}
.productButton {
  border: none;
  color: gray;
}
.productButton:hover {
  cursor: pointer;
  background-color: rgb(214, 212, 234);
}
.productButton img {
  width: 20px;
}

/*css for productsDiv*/

.productsDiv {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 0.2fr 0.8fr 0.8fr 0.5fr 0.5fr;
  margin-left: 19%;
}

.firestDiv {
  grid-column: 1 / 3;
  grid-row: 0/1;
  text-align: left;
  padding-top: 5%;
  font-size: small;
  padding-bottom: 2%;
}

.secondDiv {
  grid-column: 3 / 4;
  grid-row: 1/-1;
  background-color: rgb(241, 240, 245);
  padding-left: 10px;
  padding-bottom: 10px;
  /*inside grid system*/
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 1fr 0.2fr 1fr;
}
.secondDivFirest {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: medium;
  padding-top: 6%;
  padding-bottom: 2%;
  font-weight: 100;
}
.secondDivSecond {
  grid-column: 1/2;
  grid-row: 2/3;
  border: 2px solid rgb(231, 228, 245);
  background-color: rgb(209, 201, 246);
  padding-top: 7%;
}
.secondDivSecond img {
  width: 50px;
  float: left;
  padding-right: 7%;
}
.secondDivThird {
  grid-column: 2/3;
  grid-row: 2/3;
}

.secondDivThird ul li {
  list-style: none;
  font-size: small;
}
.secondDivThird ul li section {
  font-size: xx-small;
  color: gray;
}
.secondDivForth {
  grid-column: 2/3;
  grid-row: 3/4;
}
.secondDivForth ul li {
  list-style: none;
}
.secondDivForth ul li {
  font-size: small;
}
.secondDivForth ul li section {
  font-size: x-small;
  color: gray;
}
.secondDivFifth {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-top: 2%;
}
.secondDivFifth img {
  width: 50px;
  float: left;
  border: 2px solid rgb(231, 228, 245);
  background-color: rgb(209, 201, 246);
  margin-top: 7%;
  padding-top: 7%;
  padding-bottom: 7%;
}
.secondDivSixth {
  grid-column: 1/3;
  grid-row: 4/5;
  font-size: small;
  padding-top: 5%;
}
.secondDivSeven {
  grid-column: 1/3;
  grid-row: 5/6;
  font-size: small;
}
.thirdDiv {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2/3;
  grid-template-columns: 0.5fr 3fr;
}
.thirdDiv img {
  grid-row: 1/-1;
  grid-column: 1/2;
  float: inline-end;
  width: 50px;
  background-color: rgb(236, 231, 231);
}

.thirdDiv img:hover {
  background-color: rgb(196, 189, 189);
  cursor: pointer;
}

.thirdDiv ul {
  grid-row: 1/-1;
  grid-column: 2/3;
}
.thirdDiv ul li {
  list-style: none;
  font-size: medium;
}
.thirdDiv ul li section {
  font-size: small;
  color: gray;
}

.forthdDiv {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-column: 1 / 2;
  grid-row: 3/4;
}

.forthdDiv img {
  grid-row: 1/-1;
  grid-column: 1/2;
  float: inline-start;
  width: 50px;
  background-color: rgb(236, 231, 231);
}

.forthdDiv img:hover {
  background-color: rgb(196, 189, 189);
  cursor: pointer;
}

.forthdDiv ul li {
  list-style: none;
  font-size: medium;
}

.forthdDiv ul li section {
  font-size: small;
  color: gray;
}

.fifthDiv {
  grid-column: 2 / 3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
}
.fifthDiv img {
  grid-row: 1/-1;
  grid-column: 1/2;
  float: inline-start;
  width: 50px;
  background-color: rgb(236, 231, 231);
}

.fifthDiv img:hover {
  background-color: rgb(196, 189, 189);
  cursor: pointer;
}

.fifthDiv ul li {
  list-style: none;
  font-size: medium;
}

.fifthDiv ul li section {
  font-size: small;
  color: gray;
}

.sixthDiv {
  grid-column: 2 / 3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
}

.sixthDiv {
  grid-column: 2 / 3;
  grid-row: 3/4;
}
.sixthDiv img {
  grid-row: 1/-1;
  grid-column: 1/2;
  float: inline-start;
  width: 50px;
  background-color: rgb(236, 231, 231);
}
.sixthDiv img:hover {
  background-color: rgb(196, 189, 189);
  cursor: pointer;
}

.sixthDiv ul li {
  list-style: none;
  font-size: medium;
}

.sixthDiv ul li section {
  font-size: small;
  color: gray;
}

.seventhDiv {
  grid-column: 1 / 3;
  grid-row: 4/5;

  margin-bottom: 20px;
  color: blue;
  font-size: small;
}
.arrow {
  font-size: 10px;
  transition: font-size 0.3.5s ease-in-out;
}

.arrow:hover {
  font-size: 12px;
  cursor: pointer;
}
.earthDiv {
  padding-top: 2%;
  border-top: 2px solid gray;
  grid-column: 1 / 3;
  grid-row: 5/6;
}

.earthDiv ul li {
  list-style: none;
  font-size: medium;
}

.earthDiv ul li section {
  font-size: small;
  color: gray;
}

@media screen and (max-width: 1188px) and (min-width: 400px) {
  .productButton {
    width: 90%;
    font-size: x-small;
  }
  .productButton img {
    width: 8px;
  }
  .secondList {
    margin-right: 3%;
  }

  .secondList li {
    font-size: xx-small;
  }
}

@media screen and (max-width: 399px) and (min-width: 300px) {
  .headerDiv {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid gray;
  }

  .productButton {
    font-size: small;
    margin-top: 20%;
  }
  .productButton img {
    width: 10px;
  }
  .logoImage {
    width: 150px;
    padding-top: 10%;
  }
  .firestList li {
    padding-left: 1%;
  }
  .secondList {
    margin-right: 0px;
  }

  .secondList li {
    font-size: xx-small;
  }
  .searchIcon {
    padding-top: 80%;
  }
  .signInButton {
    margin-top: 37%;
  }
  .productsDiv {
    height: 70vh;
  }
}
/*1188,332*/
/*@media screen and (max-width: 1188px) and (min-width: 400px) {
  
  .headerDiv {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid gray;
  }
  .firestList {
    padding-left: 0%;
  }
  .productButton {
    font-size: small;
    margin-top: 20%;
  }
  .productButton img {
    width: 10px;
  }
  .logoImage {
    width: 150px;
    padding-top: 10%;
  }
  .firestList li {
    padding-left: 1%;
  }

  .secondList li {
    font-size: xx-small;
  }
  .searchIcon {
    padding-top: 80%;
  }
  .signInButton {
    margin-top: 37%;
  }
  .productsDiv {
    height: 70vh;
  }
}
/*1188,332*/
