.formLable {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30%;
  font-weight: bolder;
  font-size: x-large;

  color: blue;
}
.form {
  border: 1px solid blue;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  padding: 20px;
}
.form:hover {
  background-color: rgb(246, 246, 248);
}
